In [61]:
import pandas as pd
import numpy as np 
from sklearn import linear_model

In [89]:
def analyse_and_fit_lrm(df):
    tax_df = df[(df['Bathroom'] == 2.0) & (df['Bedroom'] == 4.0)]['Tax']
    stats = [tax_df.mean(),tax_df.std(),tax_df.median(),tax_df.min(),tax_df.max()]
    new_df = df[df["Space"]>800].sort_values(by="Price",ascending=False)
    records = df[df['Lot']>=df['Lot'].quantile(4/5)].shape[0]
    
    return stats,new_df,records

In [90]:
df = pd.read_csv("realest.csv")


statistics,rdf,obs = analyse_and_fit_lrm(df)
statistics

[791.2, 190.37670258959966, 890.0, 554.0, 975.0]

In [83]:
regression_df = df.dropna()
regression_df

X = regression_df[df.columns[1:]]
Y = regression_df['Price']
regr = linear_model.LinearRegression()
regr.fit(X, Y)
regr.intercept_

{'intercept': 19.993467728068104,
 'Bedroom': -3.1602387359607067,
 'Space': 0.00966322779633439,
 'Room': 1.6889511073197694,
 'Lot': 0.23621323117136808,
 'Tax': 0.004412718519150623,
 'Bathroom': 6.375785992212336,
 'Garage': 4.144757426848795,
 'Condition': 1.8357953743202877}

In [80]:
columns

['Bedroom', 'Space', 'Room', 'Lot', 'Tax', 'Bathroom', 'Garage', 'Condition']

In [84]:
df.columns[1:]

Index(['Bedroom', 'Space', 'Room', 'Lot', 'Tax', 'Bathroom', 'Garage',
       'Condition'],
      dtype='object')

In [85]:
df

     Price  Bedroom   Space  Room   Lot     Tax  Bathroom  Garage  Condition
0     53.0      2.0   967.0   5.0  39.0   652.0       1.5     0.0        0.0
1     55.0      2.0   815.0   5.0  33.0  1000.0       1.0     2.0        1.0
2     56.0      3.0   900.0   5.0  35.0   897.0       1.5     1.0        0.0
3     58.0      3.0  1007.0   6.0  24.0   964.0       1.5     2.0        0.0
4     64.0      3.0  1100.0   7.0  50.0  1099.0       1.5     1.5        0.0
..     ...      ...     ...   ...   ...     ...       ...     ...        ...
152   44.0      3.0   820.0   5.0  27.0     NaN       1.0     0.0        1.0
153   43.0      2.0   593.0   4.0  30.0   465.0       2.0     1.0        0.0
154   53.0      3.0   716.0   6.0  30.0   585.0       1.0     2.0        1.0
155   62.0      4.0   951.0   7.0  30.0   895.0       2.0     1.0        0.0
156    NaN      NaN     NaN   NaN   NaN     NaN       NaN     NaN        NaN

[157 rows x 9 columns]